#title{
	color: #7E8B8B;
	font-size: x-large;
	
}
table {
	background: #585858;
	width: 350px;
	height: 250px;
	text-align: left;

}
.Yellow{
	color:#FFFFBF;
}
.Gray{
	color:#8B8B8B;
}
.Orange{
	color:orange;
	font-weight: bold;
}
.Red{
	color: #CD001C;
}
#row{
	color: white;
	font-style:italic;
	vertical-align: top;
	text-align: left;
}
